/* FOOTER */
footer {
    width: 100%;
    margin-top: 10rem;
    background-color: rgba(19, 19, 19);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 4rem 9rem;
    color: #ccc;
    font-family: "Inter", sans-serif;
}

.footer-right {
    text-align: right;
}

.footer-email {
    /* margin: 0.25rem 0; */
    font-size: 1.8rem;
    font-weight: 700;
}

.footer-number {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.footer-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: right;
}

.footer-links {
    display: inline-flex;
    flex-direction: column;
}

.link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    color: #ccc;
    font-weight: 500;
}

.footer-icon {
    width: 11px;
    height: 11px;
    background-color: #ccc;
    transition: all 0.45s ease;

    -webkit-mask: url("../images/svg/arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask: url("../images/svg/arrow.svg") no-repeat center;
    mask-size: contain;
}