html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: url("../images/clean-gray-paper-C3NApfrY.png");
    background-repeat: repeat;
    background-size: auto;
}

/* HEADER */
.nav {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 2.5rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.nav-link,
.nav-logo {
    font-family: "Inter", sans-serif;
    color: black;
    transition: opacity 0.15s ease;
}

.nav-link:hover {
    opacity: 0.6;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-logo img {
    height: 70%;
    width: auto;
    object-fit: cover;
}

.project-detail {
    width: 100%;
    max-width: 1800px;
    margin: auto;
}

.project-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Inter", sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: start;
    padding-bottom: 10rem;
    gap: 3rem;
}

.title {
    font-size: 3rem;
    margin: 0;
}

.meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 2rem;
}

.meta-img {
    width: 15px;
}

.meta-tags {
    color: #333333;
    font-weight: 400;
}

.img-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.img {
    width: 100%;
    height: 100%;
    /* height: 520px; */
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.26);
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.about-main {
    display: flex;
    flex-direction: column;
    gap: 1.5em; 
}

.presentation {
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 0.7rem;
}

.tag {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
    color: #FFF;
    background-color: #1a1a1a;
    gap: 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
}

/* BOUTON */
.btn {
    display: inline-block;
    position: relative;
    align-self: flex-start;
    overflow: hidden;
    padding: 14px 18px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #1a1a1a;
}

.btn:focus-visible {
    outline: 2px solid #000;
    outline-offset: 4px;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #FFF;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.45s ease;
    z-index: 0;
}

.btn:hover::before {
    transform: scaleX(1);
}

.btn-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    z-index: 1;
}

.btn-text {
    font-weight: 500;
    color: #FFF;
    transition: color 0.45s ease;
}

.btn:hover .btn-text {
    color: #6C757D;
}

.btn-icon {
    width: 11px;
    height: 11px;
    background-color: #FFF;
    transition: all 0.45s ease;

    -webkit-mask: url("../images/svg/arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask: url("../images/svg/arrow.svg") no-repeat center;
    mask-size: contain;
}

.back-btn-icon {
    width: 11px;
    height: 11px;
    background-color: #FFF;
    transition: all 0.45s ease;

    -webkit-mask: url("../images/svg/reverse_arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask: url("../images/svg/reverse_arrow.svg") no-repeat center;
    mask-size: contain;
}

.btn:hover .btn-icon {
    background-color: #1a1a1a;
    transform: translateX(2px);
}

.btn:hover .back-btn-icon {
    background-color: #1a1a1a;
    transform: translateX(2px);
}

/* FOOTER */
footer {
    width: 100%;
    margin-top: 10rem;
    background-color: rgba(19, 19, 19);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 4rem 9rem;
    color: #ccc;
    font-family: "Inter", sans-serif;
}

.footer-right {
    text-align: right;
}

.footer-email {
    margin: 0.25rem 0;
    font-size: 1.8rem;
    font-weight: 700;
}

.footer-number {
    margin: 0.25rem 0;
    font-size: 1.8rem;
}

.footer-number {
    margin: 0.25rem 0;
}

.footer-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: right;
}

.footer-links {
    display: inline-flex;
    flex-direction: column;
}

.link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    color: #ccc;
    font-weight: 500;
}

.footer-icon {
    width: 11px;
    height: 11px;
    background-color: #ccc;
    transition: all 0.45s ease;

    -webkit-mask: url("../images/svg/arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask: url("../images/svg/arrow.svg") no-repeat center;
    mask-size: contain;
}

.gellery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.gallery-img{
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .project-detail {
        padding: 4rem;
    }

    .main {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 2.5rem;
    }

    /* .btn {
        padding: 10px 14px;
    } */
}

@media (max-width: 640px) {
    .project-detail {
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    /* .btn {
        padding: 6px 10px;
    } */
}